#imagem {
    display: flex; /* Usa flexbox para alinhar o conteúdo */
    align-items: center; /* Alinha verticalmente o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    margin: 20px auto; /* Adiciona margem automática e superior/inferior */
    max-width: 50%; /* Garante que não ultrapassa os limites */
    padding: 20px; /* Espaçamento interno */
    background-color: inherit; /* Herda o fundo da página */
}

#imagem img {
    max-width: 100%; /* Ajusta a largura da imagem dentro do container */
    height: auto; /* Mantém a proporção da imagem */
}