#imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 50%;
    padding: 20px;
    background-color: inherit; 
}

#imagem img {
    max-width: 100%;
    height: auto;
}